<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Task Tracker</title>
  </head>

  <body>
    <h1>Daily Task Tracker</h1>
    <form action="/" method="POST">
      <b>Today:</b> <input type="date" name="Today" required><br><br>
      <b>Amount:</b> <input type="number" name="Task" required><br><br>
      <b>Details:</b> <input type="text" name="Details" required><br><br>
      <button type="submit">Submit</button>
    </form>

  </body>
</html>



